@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS: these sections are by selector and not the css styling.
----------------------------------------------------------------
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. (boxsetting, html selector, body selector)
        - Universal
4.0 - Elements: styling for bare/generic HTML elements (just h1, etc, p, ul,) (make subsections for tables and forms, etc) (no classes or IDs, but you can use direct descendant and first child as long as no classes etc) (img would have the media subhead; Headings, Paragraphs, Blockquotes, Anchors, table, form, image, content)
        - Typography
        - Forms
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks (classes and IDs)
        - Framework
        - SM display
        - MD display
        - LG display
6.0 - Components: specific designed components (modular widgets that visually look the same but have one difference)
        - Nav
        - Hero
        - Overlap-Img
        - About section
        - Featured Prjects
        - Card-vert
        - Tile
        - Footer

7.0 - Utilities
        - Alignment
        - Screen reader
        - Buttons
        - Overlap-img
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */

*,
*:after,
*:before {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #1F1F1F;
    line-height: 1.25em;
    text-align: center;
}

@media only screen and (min-width: 768px) {

    html {
        font-size: 1.0625rem;
    }
}

@media only screen and (min-width: 1024px) {

    html {
        font-size: 1.125rem;
    }
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

/* ----- TYPOGRAPHY ----- */

body {
    background-color: #ECE6DD;
}

ul {
    padding-left: 0;
}

h2 {
    font: 600 2.125rem/1.25em 'Open Sans', sans-serif;
}

h3 {
    font: 600 1.719rem/1.1em 'Open Sans', sans-serif;
    text-decoration: underline;
    text-decoration-color: #F1EC6D;
    text-decoration-thickness: .15em;
    text-underline-offset: 40%;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {

    h2 {
        font-size: 2.06rem;
    }

    h3 {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 1024px) {

    h2 {
        font-size: 1.945rem;
    }

    h3 {
        font-size: .5rem;
    }

}

/* ----- FORMS ----- */

form {
    position: relative;
    border: .25em solid #ECE6DD;
    font-size: .9rem;
}

input,
button {
    background-color: transparent;
    color: #ECE6DD;
    border: none;
}

input {
    text-align: right;
}

button {
    position: absolute;
    left: 5em;
    text-align: center;
}

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

[class*='col-'] {
    padding: .3em;
}

.img-responsive {
    max-width: 100%;
}

/* ----- SM DISPLAY ----- */

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}

.col-sm-2 {
    width: calc(100% * 2 / 12);
}

.col-sm-3 {
    width: calc(100% * 3 / 12);
}

.col-sm-4 {
    width: calc(100% * 4 / 12);
}

.col-sm-5 {
    width: calc(100% * 5 / 12);
}

.col-sm-6 {
    width: calc(100% * 6 / 12);
}

.col-sm-7 {
    width: calc(100% * 7 / 12);
}

.col-sm-8 {
    width: calc(100% * 8 / 12);
}

.col-sm-9 {
    width: calc(100% * 9 / 12);
}

.col-sm-10 {
    width: calc(100% * 10 / 12);
}

.col-sm-11 {
    width: calc(100% * 11 / 12);
}

.col-sm-12 {
    width: calc(100% * 12 / 12);
}

/* ----- MD DISPLAY ----- */

@media only screen and (min-width: 768px) {
    
    .wrapper {
        width: 85%;
        margin: 0 auto;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }
    
    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

/* ----- LG DISPLAY ----- */

@media only screen and (min-width: 1024px) {
   
    .wrapper {
        width: 75%;
        margin: 0 auto;
    }
    
    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }
    
    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

/* ----- NAV ----- */

nav li {
    display: inline-block;
    font-weight: 600;
    margin: 0em .65rem;
}

nav a {
    color: #1F1F1F;
    text-decoration: none;
}

nav {
    margin: 0 auto;
    padding-top: 0;
    margin-bottom: .65em;
}

@media only screen and (min-width: 768px) {

    nav a:hover {
        border-bottom: #6BA779 .2em solid;
    }

    nav {
        margin-top: .25em;
        margin-right: 0;
    }

    nav li {
        margin-left: 1rem;
        margin-right: 0;
    }

}

@media only screen and (min-width: 1024px) {

    nav ul {
        padding-right: 0;
        text-align: right;
        }

    nav {
        margin-top: .75em;
    }

    nav li {
        margin-left: 1.5rem;
    }

}

/* ----- HERO ----- */

header .col-lg-5,
header .col-lg-4,
form {
    margin: 0 auto;
}

header .col-lg-4 {
    padding: 2.5em 0 .1em;
}

.col-lg-4 h1 {
    margin: 0em;
}

header .col-lg-5 > p:first-child {
    font: 600 2.5rem/1.25em 'Open Sans', sans-serif;
    margin-bottom: 1.15em;
}

#bg-hero {
    background: url(../img/bg-chartreuse-dining-room.jpg) no-repeat center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 7em;
}

.col-sm-12 > h1 {
    font: 600 2.5rem/1.6em 'Open Sans', sans-serif;
    margin-bottom: 0;
}

header .bg-dark .col-lg-6 {
    margin-top: 1.25em;
    margin-bottom: .45em;
}

#bg-hero + .bg-dark {
    padding-bottom: 2.5em;
}

@media only screen and (min-width: 768px) {

    header .col-lg-5 > p:first-child,
    .col-sm-12 > h1 {
        font-size: 2.6471rem;
    }

    #bg-hero {
        height: 12em;
    }

    header .col-lg-4 {
        padding-top: 1.5em;
        margin-left: 0;
    }

}

@media only screen and (min-width: 1024px) {

    #bg-hero {
        height: 16em;
    }

    header .col-lg-4 {
        padding-top: 1.75em;
    }

    header .col-lg-5 > p:first-child {
        font-size: 2.778rem;
        margin-top: 1.5em;
    }

    header .col-lg-5 p:last-child {
        margin-bottom: 2em;
    }

    header .col-lg-5 {
        margin-right: 0;
    }

    .col-sm-12 > h1 {
        font-size: 2.821rem;
    }

}

/* ----- ABOUT SECTION ----- */

#about .col-sm-8 {
    margin: 0 auto;
    padding-bottom: 0;
}

#about div:first-child p {
    margin-top: 0;
}

#about img {
    margin: 0.25em 0 2em;
}

#about {
    padding: .25em 0 3em;
}

@media only screen and (min-width: 768px) {

    #about .col-sm-8 {
        text-align: left;
        margin-top: 1em;
        margin-left: 0;
    }

    #about .col-md-6:first-child {
        text-align: left;
        font-size: 1rem;
        line-height: 1.25em;
    }


    #about img {
        height: 5em;
        margin: 3em 0;
    }

}

@media only screen and (min-width: 1024px) {

    #about {
        padding-bottom: 2em;
    }

    #about img {
        margin-top: 2.5em;
        height: 6.85em;
        margin-bottom: 2.5em;
    }

}

/*----- FEATURED PROJECTS-----*/

.overlap-img h2 {
    margin-bottom: 0.65em;
}

main ul {
    margin-top: 1.5em;
    text-align: left;
    margin-left: 3rem;
    list-style-type: none;
    margin-bottom: 1em;
}

main li {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0rem;
    margin-bottom: .5em;
    line-height: 1.6em;
}

main li:before {
    background: url(../img/bullet-right-arrow.png) no-repeat;
    content: '';
    width: 1rem;
    height: 1em;
    display: block;
    position: absolute;
    top: .2rem;
    left: -2rem;
    -o-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain; 
}

@media only screen and (min-width: 768px) {

    .overlap-img .col-sm-12 {
        text-align: left;
    }

}

/* ----- CARD-VERT ----- */

main .bg-dark {
    padding-top: 1em;
    padding-bottom: .5em;
}

.card-vert:first-child div {
    background: url(../img/bg-front-door.jpg) no-repeat center;
}

.card-vert:last-child div {
    background: url(../img/bg-team-photo.jpg) no-repeat center;
}

.card-vert:first-child div,
.card-vert:last-child div {
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 16em;
    margin-top: 0;
}

.card-vert p {
    font: 600 1.25rem/1.4em 'Open Sans', sans-serif;
    margin: 2em 0 2.5em;
}

.card-vert p:last-child {
    font-size: 1rem;
    margin-bottom: 3.75em;
}

@media only screen and (min-width: 768px) {

    .bg-dark .col-md-9 {
        margin: 0 auto;
    }

    .card-vert p {
        font-size: 1.1rem;
    }

}

@media only screen and (min-width: 1024px) {

    .bg-dark .col-lg-8 {
        margin: 0 auto;
        margin-bottom: 3em;
    }

    .card-vert h3 {
        font-size: 1.112rem;
        margin-top: 1.5em;
    }

    .card-vert p {
        font-size: .89rem;
        line-height: 1.35em;
        margin: 2em 2rem 3.25em;
    }

    .col-md-9 h2 {
        margin: 1em 0 2em;
    }

    .card-vert:first-child div,
    .card-vert:last-child div {
        height: 15em;
    }

    .card-vert p:last-child {
        margin-bottom: 4em;
    }

}

/* ----- TILE ----- */

#bg-blue-carpet {
    background-image: url(../img/bg-blue-carpet.jpg);
}

#bg-orange-shower {
    background-image: url(../img/bg-orange-shower.jpg);
}

#bg-mustard-kitchen {
    background-image: url(../img/bg-mustard-kitchen.jpg);
}

#bg-teal-couch {
    background-image: url(../img/bg-teal-couch.jpg);
}

#bg-kitchen-island {
    background-image: url(../img/bg-kitchen-island.jpg);
}

#bg-maze-wallpaper {
    background-image: url(../img/bg-maze-wallpaper.jpg);
}

.tile {
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 11.5em;
    margin-top: .25em;
    padding-left: .4rem;
    padding-right: .4rem;
}

main .overlap-img + .bg-dark {
    padding-top: 3.25em;
    padding-bottom: 4em;
}

.tile header {
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
}

.tile:hover header {
    bottom: 0;
}

.tile h3,
.tile p {
    color: #ECE6DD;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.tile h3 {
    font: 600 1rem/0em 'Open Sans', sans-serif;
    margin-top: 5em;
}

main .overlap-img + .bg-dark .wrapper > p {
    margin-top: 3em;
}

@media only screen and (min-width: 768px) {

   .tile {
        height: 18.9em;
   }

   .tile h3,
   .tile p {
        font-size: 1.25rem;
   }

   .tile h3 {
        margin-top: 7em;
   }

}

@media only screen and (min-width: 768px) {

    .tile {
        height: 14.35em;
    }

    .tile h3,
    .tile p {
        font-size: 1rem;
   }

}

/* ----- FOOTER ----- */

footer span,
address a {
    color: #1F1F1F;
}

footer span,
footer li {
    display: inline-block;
}

footer {
    padding: 1.75em 0 1em;
}

footer .col-sm-6 {
    margin: 0 auto;
}

address {
    margin: 1.25em 0;
}

footer li {
    font-style: normal;
}

address a {
    font: 700 .845rem 'Open Sans', sans-serif;
    text-decoration: none;
}

footer span {
    font-size: 2rem;
    margin: .25em;
}

@media only screen and (min-width: 768px) {

    address a {
        font-size: .9rem;
    }

    address a:hover {
        border-bottom: #6BA779 .2em solid;
    }
 
 }

 @media only screen and (min-width: 1024px) {

    footer {
        padding: 2.5em 0 1.5em;
    }

 }


/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */

/* ----- BACKGROUND COLORS ----- */

.bg-dark {
    background-color: #1F1F1F;
    color: #ECE6DD;
}

/* ----- BUTTONS ----- */

.btn {
    color: #6BA779;
    border: #6BA779 .25em solid;
    padding: .65em 1.5rem;
}

@media only screen and (min-width: 768px) {

    .btn:hover {
        background-color: #6BA779;
        color: #1F1F1F;
    }


}

@media only screen and (min-width: 768px) {

    .btn {
        font-size: .89rem;
    }

}

/* ----- OVERLAP-IMG ----- */

header .overlap-img:before,
.overlap-img {
    left: 0;
}

.overlap-img,
.overlap-img:before {
    top: 0;
}

header .overlap-img:before {
    background-image: url(../img/bg-beige-library.jpg);
    height: 200px;
}

main .overlap-img:before {
    background-image: url(../img/bg-conversation-pit.jpg);
    right: 0;
    height: 355px;
}

.overlap-img {
    position: relative;
    padding-bottom: 2.5em;
}

.overlap-img:before {
    background-repeat: no-repeat;
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
}

header .overlap-img > .row {
    padding-top: 12em;
}

main .overlap-img > .row {
    padding-top: 23em;
}

@media only screen and (min-width: 768px) {

    header .overlap-img:before {
        width: 50%;
    }

    main .overlap-img:before {
        width: 45%;
    }

    header .overlap-img:before,
    main .overlap-img:before {
        height: 100%;
    }

    header .overlap-img > .row {
        justify-content: flex-end;
        text-align: left;
        padding-top: 0;
    }

    header .col-lg-5 {
        margin-right: 0;
    }

    main .overlap-img > .row {
        padding-top: 0;
    }

}


@media only screen and (min-width: 1024px) {

    main .overlap-img:before {
        width: 45%;
    }

    .overlap-img {
        padding-bottom: 1.5em;
    }
}

/* ----- SCREEN READER ----- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}