@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS: these sections are by selector and not the css styling.
----------------------------------------------------------------
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. (boxsetting, html selector, body selector)
        - Universal
4.0 - Elements: styling for bare/generic HTML elements (just h1, etc, p, ul,) (make subsections for tables and forms, etc) (no classes or IDs, but you can use direct descendant and first child as long as no classes etc) (img would have the media subhead; Headings, Paragraphs, Blockquotes, Anchors, table, form, image, content)
        - Typography
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks (classes and IDs)
        - Framework
6.0 - Components: specific designed components (modular widgets that visually look the same but have one difference)

7.0 - Utilities
        - Alignment
        - Screen reader
        - Background Colors
        - Buttons
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */

*,
*:after,
*:before {
    font-family: 'Open Sans', sans-serif;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1.125rem;
    font-weight: 600;
    color: #1F1F1F;
    line-height: 1.25em;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

body {
    background-color: #ECE6DD;
}

ul {
    padding-left: 0;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
    
}

/* ----- TYPOGRAPHY ----- */



/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

[class*='col-'] {
    padding: 10px;
}

.img-responsive {
    max-width: 100%;
}


/* ----- SM DISPLAY ----- */

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}

.col-sm-2 {
    width: calc(100% * 2 / 12);
}

.col-sm-3 {
    width: calc(100% * 3 / 12);
}

.col-sm-4 {
    width: calc(100% * 4 / 12);
}

.col-sm-5 {
    width: calc(100% * 5 / 12);
}

.col-sm-6 {
    width: calc(100% * 6 / 12);
}

.col-sm-7 {
    width: calc(100% * 7 / 12);
}

.col-sm-8 {
    width: calc(100% * 8 / 12);
}

.col-sm-9 {
    width: calc(100% * 9 / 12);
}

.col-sm-10 {
    width: calc(100% * 10 / 12);
}

.col-sm-11 {
    width: calc(100% * 11 / 12);
}

.col-sm-12 {
    width: calc(100% * 12 / 12);
}

/* ----- MD DISPLAY ----- */

@media only screen and (min-width: 768px) {
    
    .wrapper {
        width: 85%;
        margin: 0 auto;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }
    
    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

/* ----- LG DISPLAY ----- */

@media only screen and (min-width: 1024px) {
   
    .wrapper {
        width: 75%;
        margin: 0 auto;
    }
    
    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }
    
    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

/* ----- NAV ----- */

nav li {
    display: inline-block;
    font-weight: 700;
    margin: 0em .35rem;
}

nav a {
    color: #1F1F1F;
    text-decoration: none;
}

nav {
    margin: 0 auto;
}


/* ----- HEADER LOGO ----- */

header .col-lg-4 {
    margin: 0 auto;
}

.col-lg-4 h1 {
    margin-bottom: 0;
}

/* ----- HERO----- */

header .bg-dark:before {
    background: url(../img/1d8aed83-6e1f-404b-bd12-9ab5781fda47.jfif) no-repeat top;
    -o-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    content: '';
}


/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */

/* ----- BACKGROUND COLORS ----- */

.bg-dark {
    background-color: #1F1F1F;
    color: #ECE6DD;
}

/* ----- SCREEN READER ----- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}